<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
	  {{ item.name }}
	</a>
  {% endfor %}
</nav>

{% if page.tier == 1 and page.has_subnav%}
  <nav>
    {% for list in site.data.subnav %}
      {% if list.title == page.title %}
	    {% for item in list.nav %}
		  <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
		    {{ item.name }} 
		  </a>
		{% endfor %}
	  {% endif %}
	{% endfor %}
  </nav>
{% endif %}
