<!--

Variables used
	site.url
	page.has_subnav
	site.data.navigation
		- name
		  link
	site.data.subnav
		- title
		  - name
		    link
-->
<ul class="horiznav">
  
  <li class="li_horiznav">
  <a 
    {% if page.url == "/" %}
	  class="active_horiznav"
	{% endif %}
	href="{{ site.url }}/">
    Home
  </a></li>
  
  {% for item in site.nav %}
    <li class="li_horiznav">
	<a 
	  {% if page.url == item.url %}
	    class="active_horiznav"
	  {% elsif page.is_subnav %}
	    {% if item.url == page.supernav %}
		  class="active_horiznav"
		{% endif %}
	  {% endif %} 
	  href="{{ site.url }}{{ item.url }}">
	  {{ item.title }}
	</a></li>
  {% endfor %}
  
</ul>

<ul class="horiznav">
  
  {% for item in site.[page.subnav_coll] %}
    <li class="li_horiznav">
	<a 
	  {% if page.url == item.url %}
	    class="active_horiznav"
	  {% endif %} 
	  href="{{ site.url }}{{ item.url }}">
	  {{ item.title }}
	</a></li>
  {% endfor %}
  
</ul>
