<!--

Variables used
	site.url
	page.has_subnav
	site.data.navigation
		- name
		  link
	site.data.subnav
		- title
		  - name
		    link
-->
<nav>
  {% for item in site.data.navigation %}
    <a href="{{ site.url }}{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
	  {{ item.name }}
	</a>
  {% endfor %}
</nav>

{% if page.has_subnav%}
  <nav>
    {% for list in site.data.subnav %}
      {% if list.title == page.title %}
	    {% for item in list.nav %}
		  <a href="{{ site.url }}{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
		    {{ item.name }} 
		  </a>
		{% endfor %}
	  {% endif %}
	{% endfor %}
  </nav>
{% endif %}
